<section class="home-cover-area justify-center flex">
    <div class="home-cover-wrap">
        <div class="text-center">
            <h1 class="intro-title heading-large">{{t "In depth resource on UI, UX and everything in between."}}</h1>
            <div class="intro-description">
                {{@site.description}}
            </div>
        </div>
    </div>
</section>