<div class="container">
    <div class="pagination-wrap text-center" id="pagination-wrap">
        <button class="btn btn-lg" id="load-more"><span>{{t "Show more posts"}}</span></button>
    </div>
</div>