<div class="pricing-table flex">
    <div class="table-header text-center">
        <div class="table-title">{{t "Monthly plan"}}</div>
        <div class="price">
            {{price @price.monthly}}
        </div>
        <div class="term">{{t "per month"}}</div>
    </div>
    <ul class="table-details icon-list">
        <li>Access to all free private posts</li>
        <li>Weekly new content</li>
        <li>Support independent publishing</li>
        <li>Simple, secure card payment</li>
    </ul>
    <div class="table-footer text-center">
        <a class="btn btn-lg" href="javascript:" data-members-plan="Monthly"><span>{{t "Subscribe now"}}</span></a>
    </div>
</div>